:root {
  --color-bg: #000;
  --color-text: rgba(255, 255, 255, 1);
}

@font-face {
  font-family: "Archivo Black";
  src:
    url("./styles/fonts/ArchivoBlack-Regular.woff2") format("woff2"),
    url("./styles/fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./styles/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./styles/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./styles/fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("./styles/fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("./styles/fonts/OpenSans-Bold.woff2") format("woff2"),
    url("./styles/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(17, 17, 17, 1);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;

  background-image:
    radial-gradient(circle, rgba(109, 109, 255, 0.2) 0%, transparent 70%),
    radial-gradient(circle, rgba(109, 109, 255, 0.15) 0%, transparent 70%);

  background-repeat: no-repeat;

  background-size: cover;

  background-position:
    calc(50% - 200px) -300px,
    calc(50% + -300px) bottom;

  background-attachment: absolute;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr; /* izquierda más grande, derecha más pequeña */
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "title image"
    "subtitle image"
    "description image"
    "links image";

  gap: 16px;
  max-width: cover;
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 120px;
  align-items: start;
}

/* asignamos cada elemento a su área */

.header__title {
  grid-area: title;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
}

.header__subtitle {
  grid-area: subtitle;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.header__description {
  grid-area: description;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}

.header__links {
  grid-area: links;
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.header__image {
  grid-area: image;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* estilo opcional para los links */

.header__link {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 4px;
}

/* SKILLS */

.skills {
  max-width: cover;
  margin: 110px 120px;
}

.skills__title {
  margin-bottom: 40px;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 40px;
}

.skills__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.skills__icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/* PROJECTS */
.projects {
  max-width: cover;
  margin: 100px 120px;
}

.projects__title {
  margin-bottom: 50px;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 40px;
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projects__card {
  background: rgba(28, 28, 28, 1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.projects__image {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.projects__backgroundimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projects__overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.projects__tools {
  position: absolute;
  bottom: 10px;
  left: 14.67px;
  display: flex;
  gap: 14.71px;
}

.projects__tool {
  width: 35.12px;
  height: 40px;
}

.projects__info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.projects__card-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.projects__description {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
}

.projects__links {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.projects__link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

/* FOOTER */

.footer {
  margin-top: 100px;
  padding: 3rem 0;
  text-align: center;
  border-top: 1px solid #222;
}

.contact {
  margin-bottom: 20px;
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 40px;
}

.contact__email {
  margin-bottom: 30px;
  font-size: 18px;
}

.social__icons {
  display: flex;
  justify-content: center;
  gap: 80px;
}

@media screen and (max-width: 1023px) {
  .header__title {
    font-size: 58px;
  }
  .projects__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "title"
      "subtitle"
      "description"
      "links";
  }

  .header__title {
    font-size: 36px;
  }

  .header__subtitle {
    font-size: 16px;
  }

  .header__description {
    font-size: 16px;
  }

  .header__image {
    width: 100%;
    height: auto;
  }

  /* Links verticales */
  .header__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header__link {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid black;
    text-decoration: none;
  }

  .projects__title {
    font-size: 28px;
  }

  .projects__card-title {
    font-size: 20px;
  }

  .projects__description {
    font-size: 16px;
  }

  .contact {
    font-size: 28px;
  }

  .social__icons {
    gap: 40px;
  }
}
